<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458095203114-3q3vlfp757h7sdg67bcuiqtkbkpfqn7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458095203114-3q3vlfp757h7sdg67bcuiqtkbkpfqn7v</string>
	<key>API_KEY</key>
	<string>AIzaSyDjoop1VJrWMbI7Q31C_jFy3Nyp2avDC8g</string>
	<key>GCM_SENDER_ID</key>
	<string>458095203114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sedatsametoypan.FoodDeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>fooddeliveryapp-7d13b</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddeliveryapp-7d13b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458095203114:ios:6d788c49164ac2acfbc453</string>
</dict>
</plist>